h1{
color:blue;
}

body{
background-color:pink;
}

p{
color:blue;
}

table{
background-color:green
}

button{
background-color:lightyellow
}

button{
color:red;
}
table{
border-color:red;
}

ol{
color:gray;
}

p{
font-size: x-large;
font-family:Century Gothic;
color:green;
}

img.img_gelatina{
width:300px;
height:220px;
}

p.parrafito{
color:red;
}

img.flor{
widht:100px;
height:100px;
}