h1{
color:blue;
}

body{
background-color:pink;
}

p{
color:blue;
}

button{
background-color:lightyellow
}

button{
color:red;
}
table{
border-color:red;
}

ol{
color:gray;
}

p{
font-size: x-large;
font-family:Century Gothic;
color:green;
}

img.img_gelatina{
width:300px;
height:220px;
}

p.parrafito{
color:red;
}

img.flor{
border-radius:100px; width:260px; height:200px;
}

table.tabla{
table-layout:fixed;
border: 1px solid red;
padding:2px;
color: cian;
}